<footer class="footer">
<div class="container">

  <p class="pull-right">
  <a href="#">Back to top</a>
  </p>

  <p>	
  <%= link_to "Acerca de Colegio Democrático", about_path %> - 
  <%= link_to "Contáctenos", contact_path %> -
  <%= link_to "Free Culture", "http://uprm.freeculture.org/"%> -
  <%= link_to "Mis Dos Chavos", "http://www.misdoschavos.com/"%>         
  <%= render 'candidatos/fb_twitter' %>
  </p>
  
  <p class="pull-right">
  <a rel="license" href="http://creativecommons.org/licenses/by/3.0/pr/"><img alt="Licencia Creative Commons" src="http://i.creativecommons.org/l/by/3.0/pr/88x31.png" /></a>
  </p>

</div>
</footer>

<!-- by: Carlos Andreu, Richard Kaufman, Gabriel Perez - 2011 -->
